bpytop/
colorls/
iterm2/
karabiner/
neofetch/
flutter/
lvim/
yarn/
sonic-pi.net/
kitty/
plugins/
prova.py
.DS_Store
starship.toml

zsh/..zsh_history
zsh/.zcompdump
nvim/plugin/packer_compiled.lua
dooit